<nav class="mb-5"> 
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/cliente">Clientes</a></li>
    <li class="breadcrumb-item active">{{pageTitle}}</li>
  </ol>
</nav>

<div class="row mb-4">
  <div class="col-md">
    <h1 class="h2 border-left pl-2">{{pageTitle}}</h1>
  </div>
  <div class="col-md">
    <a routerLink="/cliente" class="btn btn-light float-end">Voltar</a>
  </div>
</div>

<form [formGroup]="resourceForm">

  <div class="card">
      <div class="card-header">
          Informações sobre o cliente
      </div>
      <div class="card-body">
          <div class="form-row">
              <div class="form-group row">
                  <div class="col-sm-4">
                      <label for="nome">Nome</label>
                      <input type="text" disabled="disabled" class="form-control" id="nome" formControlName="nome">
                  </div>
                  <div class="col-sm-8">
                      <label for="">Observacao</label>
                      <input type="text" disabled="disabled" class="form-control" id="observacao" formControlName="observacao">
                  </div>
              </div>
              <div class="form-row">
                <div class="form-group row">
                  <div class="col-sm-4">
                    <label for="nome">Documento</label>
                    <input type="text" disabled="disabled" class="form-control" id="cpfcnpj" formControlName="cpfcnpj">
                  </div>
                  <div class="col-sm-4">
                    <label for="nome">CEP</label>
                    <input type="text" disabled="disabled" class="form-control" id="cep" formControlName="cep">
                  </div>
                  <div class="col-sm-4">
                    <label for="nome">endereco</label>
                    <input type="text" disabled="disabled" class="form-control" id="endereco" formControlName="endereco">
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-4">
                  <label for="nome">numero</label>
                  <input type="text" disabled="disabled" class="form-control" id="numero" formControlName="numero">
                </div>
                <div class="col-sm-4">
                  <label for="nome">complemento</label>
                  <input type="text" disabled="disabled" class="form-control" id="complemento" formControlName="complemento">
                </div>
                <div class="col-sm-4">
                  <label for="nome">bairro</label>
                  <input type="text" disabled="disabled" class="form-control" id="bairro" formControlName="bairro">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12">
                  <!-- <mat-form-field>
                    <input type="text" placeholder="Pais" matInput [formControl]="myControl"
                         [matAutocomplete]="auto">
                       <mat-autocomplete #auto="matAutocomplete">
                         <mat-option *ngFor="let option of paises" [value]="option.nome">
                           {{option.nome}}
                        </mat-option>
                    </mat-autocomplete>
                 </mat-form-field> -->
                 
                </div>
              </div>
          </div>
      </div>
  </div>
</form>
