<ng-template #modal>
  <div class="modal-header">
    <h5 class="modal-title">{{ modalConfig.modalTitle }}</h5>
  </div>
  <form [formGroup]="resourceFormModal" (ngSubmit)="submit()">
    <div class="modal-body">
      <div class="form-row">
        <input type="hidden" id="id">
        <input type="hidden" id="contaFinanceiraId" formControlName="contaFinanceiraId">
        <input type="hidden" id="statusContaBancaria" >
        <input type="hidden" id="tipoContaFinanceira">
          <div class="form-group row">
              <div class="col-sm-12">
                  <label for="descricao">Descrição</label>
                  <input type="text" class="form-control" id="descricao" formControlName="descricao">
              </div>
          </div>
      </div> 
      <div class="form-row">
        <div class="form-group row">
          <div class="col-sm-6">
            <label for="dataEmissao">Data de Emissão</label>
            <input type="date" class="form-control" disabled="disabled" id="dataEmissao" formControlName="dataEmissao">
          </div>
          <div class="col-sm-6">
            <label for="dataVencimento">Data de Vencimento</label>
            <input type="date" class="form-control" disabled="disabled" id="dataVencimento" formControlName="dataVencimento">
          </div>
          <div class="col-sm-4">
            <label for="valorPrevisto">Valor Previsto</label>
            <input type="text" class="form-control" disabled="disabled" id="valorPrevisto" formControlName="valorPrevisto" >
          </div>
          <div class="col-sm-4">
            <label for="saldo">Saldo</label>
            <input type="text" class="form-control" disabled="disabled" id="saldo" formControlName="saldo" >
          </div>
          <div class="col-sm-4">
            <label for="valorPagoModal">Valor Pago*</label>
            <input type="text" #valorPagoModal class="form-control" id="valorPagoModal" formControlName="valorPagoModal" (change)="fnCalculaSaldo(valorPagoModal.value)" >
            <div class="text-danger" *ngIf="resourceFormModal.get('valorPagoModal').invalid && resourceFormModal.get('valorPagoModal').touched">
              <div *ngIf="resourceFormModal.get('valorPagoModal').errors.required">dado obrigatório</div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group row">
            <div class="col-sm-12">
              <label for="contaBancariaNome">Conta Bancaria*</label>
              <ng-autocomplete
                              class="form-control"
                              [data]="contasBancarias"
                              [searchKeyword]="keywordModal"
                              placeholder="Digite o nome da conta bancaria"
                              historyIdentifier="contasBancarias"
                              [itemTemplate]="itemTemplate"
                              [notFoundTemplate]="notFoundTemplate"
                              formControlName="contaBancariaNome">
                            </ng-autocomplete>
          
              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.nomeConta"></a>
              </ng-template>
          
              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
              <div class="text-danger" *ngIf="resourceFormModal.get('contaBancariaNome').invalid && resourceFormModal.get('contaBancariaNome').touched">
                <div *ngIf="resourceFormModal.get('contaBancariaNome').errors.required">dado obrigatório</div>
              </div>
            </div>
            <div class="col-sm-12">
              <label for="observacaoBaixa">Observacao</label>
                  <textarea class="form-control" id="observacaoBaixa" rows="3" id="observacaoBaixa" formControlName="observacaoBaixa"></textarea>
            </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button"
              class="btn btn-outline-primary"
              (click)="close()"
              *ngIf="modalConfig.hideCloseButton === undefined || !modalConfig.hideCloseButton()"
              [disabled]="modalConfig.disableCloseButton !== undefined && modalConfig.disableCloseButton()">
        Cancelar
      </button>
      <button type="submit"
              class="btn btn-outline-secondary"
              [disabled]="submittingForm || resourceFormModal.invalid"
      >
      Baixar
      </button>
    </div>
  </form>
 
</ng-template>
