<nav class="mb-5"> 
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/contapagar">Contas a Pagar</a></li>
      <li class="breadcrumb-item active">{{pageTitle}}</li>
    </ol>
  </nav>
  
  <div class="row mb-4">
    <div class="col-md">
      <h1 class="h2 border-left pl-2">{{pageTitle}}</h1>
    </div>
    <div class="col-md">
      <a routerLink="/contabancaria" class="btn btn-light float-end">Voltar</a>
    </div>
  </div>

  <form [formGroup]="resourceForm" (ngSubmit)="submitForm()">

    <div class="card">
        <div class="card-header">
            Informações sobre a conta a pagar
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="descricao">Descrição</label>
                        <input type="text" class="form-control" id="descricao" formControlName="descricao">
                        <div class="text-danger" *ngIf="resourceForm.get('descricao').invalid && resourceForm.get('descricao').touched">
                          <div *ngIf="resourceForm.get('descricao').errors.required">dado obrigatório</div>
                          <div *ngIf="resourceForm.get('descricao').errors.minlength">deve ter no minimo 5 caracteres</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                      <label for="pessoaNome">Fornecedor</label>
                      <ng-autocomplete
                      class="form-control"
                      [data]="fornecedores"
                      [searchKeyword]="keyword"
                      placeholder="Digite o nome do Fornecedor"
                      historyIdentifier="fornecedores"
                      [itemTemplate]="itemTemplateFornecedor"                  
                      (selected)="optionSelect($event, 'fornecedor')"
                      (inputCleared)="optionSelect($event, 'fornecedor')"
                      formControlName="pessoaNome"
                      [notFoundTemplate]="notFoundTemplateFornecedor"
                      id="pessoaNome">
                      
                      </ng-autocomplete>
                  
                      <ng-template #itemTemplateFornecedor let-item>
                        <a [innerHTML]="item.nome"></a>
                      </ng-template>
                  
                      <ng-template #notFoundTemplateFornecedor let-notFound>
                        <div [innerHTML]="notFound"></div>
                      </ng-template>
                      <div class="text-danger" *ngIf="resourceForm.get('pessoaNome').invalid && resourceForm.get('pessoaNome').touched">
                        <div *ngIf="resourceForm.get('pessoaNome').errors.required">dado obrigatório</div>
                      </div>
                    </div>
                </div>
            </div> 
            <div class="form-row">
              <div class="form-group row">
                <div class="col-sm-6">
                  <label for="dataEmissao">Data de Emissão</label>
                  <input type="date" class="form-control" id="dataEmissao" formControlName="dataEmissao">
                  <div class="text-danger" *ngIf="resourceForm.get('dataEmissao').invalid && resourceForm.get('dataEmissao').touched">
                       <div *ngIf="resourceForm.get('dataEmissao').errors.required">dado obrigatório</div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <label for="dataVencimento">Data de Vencimento</label>
                  <input type="date" class="form-control" id="dataVencimento" formControlName="dataVencimento">
                  <div class="text-danger" *ngIf="resourceForm.get('dataVencimento').invalid && resourceForm.get('dataVencimento').touched">
                       <div *ngIf="resourceForm.get('dataVencimento').errors.required">dado obrigatório</div>
                  </div>
                </div>
                <!-- <div class="col-sm-6">
                  <label for="banco">Banco</label>
                  <ng-autocomplete
                    class="form-control"
                    placeholder="Digite o nome do Banco"
                    historyIdentifier="bancos"
                    [itemTemplate]="itemTemplate"
                    formControlName="bancoNome"
                    [notFoundTemplate]="notFoundTemplate">
                  </ng-autocomplete>
              
                  <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.nome"></a>
                  </ng-template>
              
                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div> -->
              </div>
            </div>
            <div class="form-row">
              <div class="form-group row">
                  <div class="col-sm-4">
                    <label for="formaPagamentoNome">Forma Pagamento</label>
                    <ng-autocomplete
                    class="form-control"
                    [data]="formasPagamento"
                    [searchKeyword]="keyword"
                    placeholder="Digite o nome da Forma de Pagamento"
                    historyIdentifier="formasPagamento"
                    [itemTemplate]="itemTemplatePagamento"                  
                    (selected)="optionSelect($event, 'fornecedor')"
                    (inputCleared)="optionSelect($event, 'fornecedor')"
                    formControlName="formaPagamentoNome"
                    [notFoundTemplate]="notFoundTemplatePagamento"
                    id="pessoaNome">
                    
                    </ng-autocomplete>
                
                    <ng-template #itemTemplatePagamento let-item>
                      <a [innerHTML]="item.nome"></a>
                    </ng-template>
                
                    <ng-template #notFoundTemplatePagamento let-notFound>
                      <div [innerHTML]="notFound"></div>
                    </ng-template>
                    <div class="text-danger" *ngIf="resourceForm.get('formaPagamentoNome').invalid && resourceForm.get('formaPagamentoNome').touched">
                      <div *ngIf="resourceForm.get('formaPagamentoNome').errors.required">dado obrigatório</div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <label for="condicaoParcelamentoNome">Condição de Parcelamento</label>
                    <ng-autocomplete
                    class="form-control"
                    [data]="condicoesParcelamento"
                    [searchKeyword]="keyword"
                    placeholder="Digite o nome da Forma de Pagamento"
                    historyIdentifier="formasPagamento"
                    [itemTemplate]="itemTemplatePagamento"                  
                    (selected)="optionSelect($event, 'fornecedor')"
                    (inputCleared)="optionSelect($event, 'fornecedor')"
                    formControlName="formaPagamentoNome"
                    [notFoundTemplate]="notFoundTemplatePagamento"
                    id="pessoaNome">
                    
                    </ng-autocomplete>
                
                    <ng-template #itemTemplatePagamento let-item>
                      <a [innerHTML]="item.nome"></a>
                    </ng-template>
                
                    <ng-template #notFoundTemplatePagamento let-notFound>
                      <div [innerHTML]="notFound"></div>
                    </ng-template>
                    <div class="text-danger" *ngIf="resourceForm.get('formaPagamentoNome').invalid && resourceForm.get('formaPagamentoNome').touched">
                      <div *ngIf="resourceForm.get('formaPagamentoNome').errors.required">dado obrigatório</div>
                    </div>
                  </div>
              </div>
            </div>   
        </div>
    </div>
    <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
      <strong>Erro no servidor: </strong>
      <ul>
        <li *ngFor="let error of serverErrorMessages">{{error}}</li>
      </ul>
    </div>
    <button type="submit" [disabled]="submittingForm || resourceForm.invalid" 
    class="btn btn-primary btn-lg float-end mt-3">Salvar</button>
  </form>
