<nav class="mb-5"> 
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active">Contas a Pagar</li>
    </ol>
  </nav>
  
  <div class="row mb-4">
    <div class="col-md">
      <h1 class="h2 border-left pl-2">Contas a Pagar</h1>
    </div>
    <div class="col-md">
      <a routerLink="new" class="btn btn-success float-end">+ Nova Conta a Pagar</a>
    </div>
  </div>
  
  <table class="table table-hover">
    <thead>
      <tr class="bg-primary text-light">
        <th>Descrição</th>
        <th>Valor Previsto</th>
        <th>Valor Pago</th>
        <th>Data de Vencimento</th>
        <th>Fornecedor</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
        <!--  -->
      <tr *ngFor="let conta of resources | paginate: { itemsPerPage: pageSize, currentPage: paginaAtual }; let i = index">
        <td>
          <strong>{{conta.descricao + " " + conta.descricaoParcela}}</strong><br>
        </td>
        <td>
          <strong>{{conta.valorPrevisto}}</strong><br>
        </td>
        <td>
          <strong>{{conta.valorPago || 0}}</strong><br>
        </td>
        <td>
          <strong>{{conta.dataVencimento}}</strong><br>
        </td>
        <td>
          <strong>{{conta.pessoaNome}}</strong><br>
        </td>
        <td>
          <a [routerLink]="[conta.id, 'edit']" class="btn btn-outline-info btn-sm mr-1">Editar</a>
          <a [routerLink]="[conta.id, 'view']" class="btn btn-outline-secondary btn-sm mr-1">Visualizar</a>
          <button (click)="openModal(conta)" class="btn btn-outline-danger btn-sm">Baixar</button>
          <button (click)="openConfirmDialog(conta.id, conta.descricao)" type="button" class="btn btn-outline-info btn-sm mr-1">Cancelar Baixas</button>
          <button (click)="deleteResource(conta)" class="btn btn-outline-danger btn-sm">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
  </div>
  <modal #modal [modalConfig]="modalConfig">
  </modal>
